<%- include('header') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Product Details</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Product Details</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">New Product <small></small></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div id="readroot">
                                <form id="quickForm" action="/users/add_product_details" method="POST">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Select Main category</label>
                                            <select name='Name' class="form-control" id="category">
                                                <% for(var i=0 ; i < result.length ; i++){%>
                                                    <option value="<%=result[i].Name%>">
                                                        <%= result[i].Name%>
                                                    </option>
                                                    <%}%>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Sub Category</label>
                                            <select id="subcategory" name='selected_sub_category' class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Product</label>
                                            <select id="product" name='selected_product' class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Additional Category</label>
                                            <input type="text" name="additional_category" class="form-control"
                                                placeholder="enter additional category ..." required>
                                        </div>
                                        <div class="form-group">
                                            <label>Specification</label>
                                            <input type="text" name="specification" class="form-control"
                                                placeholder="enter specification ..." required>
                                        </div>
                                        <div class="form-group">
                                            <label>Size</label>
                                            <input type="text" name="size" class="form-control"
                                                placeholder="enter size ..." required>
                                        </div>
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <input type="text" name="unit" class="form-control"
                                                placeholder="enter unit ..." required>
                                        </div>
                                        <div class="form-group">
                                            <label>Rate</label>
                                            <input type="text" name="rate" class="form-control"
                                                placeholder="enter rate ..." required>
                                        </div>
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="text" name="quantity" class="form-control"
                                                placeholder="enter quantity ..." required>
                                        </div>
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" name="amount" class="form-control"
                                                placeholder="enter price ..." required>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <span id="writeroot"></span>
                                        <button id="moreFields" type="button" class="btn btn-primary">ADD +</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">

                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- ----------------------------------------------Script to select category---------------------------------------------     -->

    <script>
        var result;
        jQuery('#category').click('change', function () {
            var cat_name = $('#category option:selected').val();
            console.log('cat_name =', cat_name);
            jQuery.post('http://localhost:3000/users/select_category',
                { name: cat_name },
                function (result, status, jqXHR) {
                    console.log(result.sel);
                    var formoption = "";
                    for (var i in result.sel) {
                        var id = result.sel[i].sub_category;
                        console.log("sub_catId=", id)
                        formoption += "<option value='" + result.sel[i].sub_category + "'>" + result.sel[i].sub_category + "</option>";
                    }
                    $('#subcategory').empty();
                    $('#subcategory').append(formoption);
                }
            );
        })
    </script>

    <!-- ----------------------------------------------Script to select product---------------------------------------------     -->

    <script>
        var result;
        jQuery('#subcategory').click('change', function () {
            var pro_name = $('#subcategory option:selected').val();
            console.log('subcat_name =', pro_name);
            jQuery.post('http://localhost:3000/users/select_product',
                { name: pro_name },
                function (result, status, jqXHR) {
                    console.log(result.product);
                    var formoption2 = "";
                    for (var i in result.product) {
                        var id = result.product[i].product_name;
                        console.log("sub_catId=", id)
                        formoption2 += "<option value='" + result.product[i].product_name + "'>" + result.product[i].product_name + "</option>";
                    }
                    $('#product').empty();
                    $('#product').append(formoption2);
                }
            );
        })
    </script>

    <!-- ----------------------------------------------Script to replicate the flieds---------------------------------------     -->

    <script>
        var counter = 0;

        jQuery('#moreFields').click('change', function moreFields() {
            counter++;
            var newFields = document.getElementById('readroot').cloneNode(true);
            newFields.id = '';
            newFields.style.display = 'block';
            var newField = newFields.childNodes;
            for (var i = 0; i < newField.length; i++) {
                var theName = newField[i].name
                if (theName)
                    newField[i].name = theName + counter;
            }
            var insertHere = document.getElementById('writeroot');
            insertHere.parentNode.insertBefore(newFields, insertHere);
        })

    // window.onauxclick = moreFields;
    </script>

    <%- include('footer')%>