<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laxmi Graphics </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../../assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../../assets/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"
      defer></script>

    <style>
      .add {
        color: #27C46B;
      }

      a.edit {
        color: #FFC107;
      }

      a.delete {
        color: #E34724;
      }

      a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
      }

      .add {
        display: none;
      }
    </style>
  </head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->

    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link">
        <img src="../../../assets/dist/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">Laxmi Graphics WebApp</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="../../../assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">User Name</a>
          </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
          <div class="input-group" data-widget="sidebar-search" style="height:38px;">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" style="width:170px;"
              aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

            <li class="nav-item">
              <a href="/users/customer" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Customer
                </p>
              </a>

            </li>
            <li class="nav-item">
              <a href="/users/employee" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Employee
                </p>
              </a>

            </li>
            <li class="nav-item">
              <a href="/users/vendor" class="nav-link">
                <i class="nav-icon far fa-calendar"></i>
                <p>
                  Vendor
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/category" class="nav-link">
                <i class="nav-icon far fa-calendar"></i>
                <p>
                  Category
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/sub_category" class="nav-link">
                <i class="nav-icon far fa-calendar"></i>
                <p>
                  Sub Category
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/product/product" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Products
                </p>
              </a>

            </li>
            <li class="nav-item">
              <a href="/users/product_details" class="nav-link ">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Product Details
                </p>
              </a>

            </li>
            <li class="nav-item">
              <a href="/users/customer_inquiry" class="nav-link ">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Customer Inquiry
                </p>
              </a>

            </li>
            <li class="nav-item">
              <a href="/users/quotation" class="nav-link ">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Quotation
                </p>
              </a>

            </li>
            <li class="nav-item">
              <a href="/users/invoice" class="nav-link ">
                <i class="nav-icon fas fa-table"></i>
                <p>
                 Invoice
                </p>
              </a>

            </li>
            <!-- <li class="nav-item">
                            <a href="./smswebapp_message.html" class="nav-link">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>
                                    Messages
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="./smswebapp_groups.html" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Groups

                                </p>
                            </a>
                        </li> -->

            <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>